/* 引入f7字体文件 */
@font-face {
  font-family: 'Framework7 Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Framework7Icons-Regular.eot");
  src: local('Framework7 Icons'),
       local('Framework7Icons-Regular'),
       url("../fonts/Framework7Icons-Regular.woff2") format("woff2"),
       url("../fonts/Framework7Icons-Regular.woff") format("woff"),
       url("../fonts/Framework7Icons-Regular.ttf") format("truetype"),
       url("../fonts/Framework7Icons-Regular.svg") format("svg");
}
.f7-icons, .framework7-icons {
  font-family: 'Framework7 Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  font-feature-settings: "liga";
}
.f7-icons.size-14 {
  font-size: 14px;
}
.f7-icons.size-16 {
  font-size: 16px;
}
.f7-icons.size-18 {
  font-size: 18px;
}
.f7-icons.size-22 {
  font-size: 22px;
}
.f7-icons.size-25 {
  font-size: 25px;
}
.f7-icons.size-29 {
  font-size: 29px;
}
.f7-icons.size-40 {
  font-size: 40px;
}
.f7-icons.size-50 {
  font-size: 50px;
}
/* 自定义图标引用 */
i.icon.icon-form-moon {
  width: 29px;
  height: 29px;
  background-image: url("../lib/framework7/img/i-form-moon-my.svg");
}
body{
	max-width: 470px;
	margin: 0 auto;
}
h3{
	margin: 0;
	padding: 0;
}
.page-content-inner{
	min-height: 0;
}
/* 轮播图设置 */
.lb1 .swiper-slide,.lb2 .swiper-slide {
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
  line-height: 0;
}
.lb1,.lb2 {
  height: auto;
}
.lb1 .swiper-slide img,.lb2 .swiper-slide img{
	height: 100%;
	width: 100%;
	max-width: 720px;
}
/* 注册页弹窗 */
.register-btn{
	margin-left:auto;
	margin-right:auto;
}
.forgetpasswd{
	font-size: 1rem;
	width: 25%;
	text-align:center;
	color: red;
}
.gameDownload .list-block{
	margin: 10px 0;
}
.register-screen{
	color: black;
}
.register-screen .item-title{
	text-align: right;
}
/* 轮播图下面的图片 */
.indexImage{
	max-width: 720px;
	position: relative;
}
.indexImage img{
	display: block;
	max-width: 100%;
	height: auto;
}
.indexImage p{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	left: 0;
	font-size: 2rem;
	color: white;
	margin: 1rem 0;
}
.indexImage b{
	color: white;
}
.indexImage .button{
	border: 0.15rem solid yellow;
	width: 40%;
	margin: 0 auto;
	font-size: 1.3rem;
}
/* 游戏推荐和新闻动态 */
.gameRecommend{
	text-align: center;
}
.gameNews{
	text-align: center;
}
.gameRecommend b{
	font-size: 1.6rem;
	display: block;
	margin-top: 0.5rem;
}
.gameRecommend c{
	font-size: 1rem;
	font-family: Impact;
	color: #b7b6b6;
	font-weight: normal;
	display: block;
}
.gameNews b{
	font-size: 1.6rem;
	display: block;
	margin-top: 0.5rem;
}
.gameNews c{
	font-size: 1rem;
	font-family: Impact;
	color: #b7b6b6;
	font-weight: normal;
	display: block;
}
.gameNews .list-block{
	margin: 10px 0;
}
#tab1 .row img{
	width: 100%;
	height: auto;
}
/* 页脚，公司logo */
footer{
	text-align: center;
	background: #272727;
	padding: 1rem 0;
}
footer p{
	font-size: 1.2rem;
	color: white;
	margin: 0.8rem 0;
}
/* appdown.html */
.appdown_ .appHead{
	width: 100%;
	height: 5rem;
	margin: 1rem 0;
}
.smallImage{
	width: 27.5%;
	height: 100%;
	float: left;
}
.smallImage img{
	margin: 0 0.5rem;
	height: 100%;
}
.appHead .content{
	float: left;
	width: 55%;
}
.appHead .content img{
	width: 50%;
	margin-top: 0.8rem;
}
.appHead .button{
	width: 16%;
	float: right;
	margin-top: 1rem;
	margin-right: 1%;
}
.swiperAppdown{
	height: auto;
	width: auto;
}
/* 左侧面板 */
.panel .navbar{
	height: 10rem;
	background: #1296db;
	padding: 3.5rem 0;
}
.personalInfo{
	width: 100%;
	height: 3rem;
}
.personalInfo img{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	float: left;
	margin: 0 1rem;
}
.personalInfo .content{
	float: left;
	height: 100%;
}
.personalInfo i{
	float: right;
}
.panel .page-content{
	padding-top: 10rem;
}
.panel .page-content .list-block{
	margin: 0;
}
.panel .page-content .list-block li{
	margin: 0.5rem 0;
}
.panel .page-content .row{
	text-align: center;
	margin: 2rem 0;
}
.panel .page-content .list-block .moon{
	margin-top: 2rem;
}
/* feedback.html */
.feedback_ textarea{
	width: 100%;
	height: 115px;
	margin: 0;
}
/* 引导页的第三方登录选择 */
.login_method{
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 2rem 0;
}
.login_method_title{
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}
.login_method .col-33{
	text-align: center;
}
.login_method .col-33 img{
	width: 5rem;
	height: 5rem;
}
.tutorialicon {
  font-size: 250px;
  line-height: 170px;
}
.welcomescreen-container .welcomescreen-text a{
  color: #cddc39;
  text-decoration: none;
}
.tutorial-close-btn {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  color: #0da6ec !important;
  text-decoration: none !important;
}
/* home-3 tab3 聊天页 */
.message-text a{
	margin: 0;
	padding: 0;
	display: block;
}
.messagebarPlus{
	float: left;
	margin-left: -38px;
	margin-top: 8px;
	display: block;
	position: relative;
}
#fileEle{
	position: absolute;
	opacity: 0;
	left: 0;
	top: 0;
}
.messages img{
	display: block;
	max-width: 300px;
	border-radius: 10px;
}
/* home-4 tab4 */
.live img{
	width: 100%;
}
.live .row{
	margin-left: -1%;
	margin-bottom: 0.5rem;
}
.live .row .col-50{
	margin-left: 1%;
	width: 49%;
	position: relative;
	color: white;
	line-height: 1;
}
.live-title{
	width: 100%;
	height: 2rem;
	font-size: 1.2rem;
	margin-top: 2rem;
}
.live-title h3{
	float: left;
}
.live-title a{
	float: right;
}
.live-link>span{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.1em;
	line-height: 1.5rem;
	width: 5rem;
	height: 1.5rem;
	text-align: center;
	border-bottom-left-radius: 50%;
	-webkit-border-bottom-left-radius: 50%;
	-moz-border-bottom-left-radius: 50%;
	background-color: orange;
}
.live-info{
	position: absolute;
	bottom: 0;
	width: 94%;
	height: 2rem;
	font-size: 0.8rem;
	padding: 0 3%;
	line-height: 2rem;
	background: rgba(0, 0, 0, 0.6);
}
.live-info span{
	width: 60%;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	float: left;
}
.live-info em{
	float: right;
}
.live-cover{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	text-align: center;
}
.live-cover img{
	height: 30%;
	width: 30%;
	margin-top: 35%;
}
.live-link img{
	width: 230px;
	height: 153px;
	max-width: 100%;
	margin-left: 1.7%;
}
/* info_detail.html */
.listing{
	width: 100%;
	height: auto;
	border-top: 1px solid #ddd;
	background: #fff;
	color: #333;
	font-size: 1.2rem;
}
.listing-inner{
	border-bottom: 1px solid #ddd;
	padding: 1rem 1.8rem;
}
.listing-right{
	float: right;
}
.listing-inner-pic{
	height: 4rem;
	line-height: 4rem;
	position: relative;
}
.listing-inner-pic .icon-forward{
	position: absolute;
	right: 1.8rem;
	top: 0;
	bottom: 0;
	margin: auto;
}
.listing-inner-pic img{
	height: 4rem;
	width: 4rem;
	border-radius: 100%;
	margin-right: 1rem;
}
.swiper-about{
	height: 100%;
}
.about-item{
 	height: 100%;
	margin-bottom: 50px;
}
.about-title{
	width: 100%;
	text-align: center;
}
.about-step li{
	word-break: break-all;
	word-wrap:break-word;
}
.siteabout{
	font-size: 1rem;
}
.siteabout ol{
	padding-start: 35px;
	margin-end: 20px;
	-moz-padding-start: 35px;
	-moz-margin-end: 20px;
	-ms-padding-start: 35px;
	-ms-margin-end: 20px;
	-webkit-padding-start: 35px;
	-webkit-margin-end: 20px;
}
.about-step .content-block{
	margin: 10px 0;
	padding: 0;
}
#lunbo img{
	max-height: 230px;
}
.toolbar.messagebar textarea{
	top: 4.5px !important;
}
